.home-page-link:hover {
	transition: 0.3s;
	scale: 1.2;
}

.all-results-container {
  background-color: rgb(26, 11, 74);
  color: white;
}
.home-page-button:hover {
  background-color: rgb(26, 11, 74);
  color: white;
}